<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn C-sharp of ClassesAndObjects" /> <!-- project description -->
    <meta name="author" content="mohamed Alwani" /> <!-- author name -->
    <meta name="keyWords" content="C,C#" /> <!-- keyWords project description  -->

    <title>Learn C-sharp of Interface</title> <!-- project name -->

    <link rel="icon"
        href="C:\Users\DELL\Desktop\Full Stack  Developer\Front_end\Project3 html , css , js\photos\photo6.jpg">

    <!-- Link page learn C#-->
    <link rel="stylesheet" href="../../Styles/learn C-Sharb Content/style InterfacePage.css" />

</head>

<body>
    Interface
</body>