<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn C-sharp of MethodOverloading" /> <!-- project description -->
    <meta name="author" content="mohamed Alwani" /> <!-- author name -->
    <meta name="keyWords" content="C,C#" /> <!-- keyWords project description  -->

    <title>Learn C-sharp of MethodOverloading</title> <!-- project name -->
    <link rel="icon"
        href="C:\Users\DELL\Desktop\Full Stack  Developer\Front_end\Project3 html , css , js\photos\photo6.jpg">
    <!-- icon -->

    <!-- Link page learn C#-->
    <link rel="stylesheet" href="../../Styles/learn C-Sharb Content/style MethodOverloadingPage.css" />

    <!-- Link boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="nav">
        <nav class="nav1">
            <a href="Home.html" class="Home">
                <main>Taalem</main>
            </a>

            <a href="Login.html" class="signup" style="margin-left: 85%;">sign up</a>
        </nav>



        <nav class="nav2">
            <a href="Learn Csharb.html" class="C">C#</a>

            <a href="#" class="DS">Data Structure</a>

            <a href="#" class="Alogo">Algorithm</a>

            <a href="#" class="proSolv">Problem Solving</a>

            <a href="#" class="html">Html</a>

            <a href="#" class="css">CSS</a>

            <a href="#" class="JS">JavaScript</a>

            <a href="#" class="Angular">Angular16</a>
        </nav>
    </div>










    <div class="contentALL" id="contentALL" style="position: fixed;">

        <div class="content1">
            <h1>C# Tutorial</h1>
            <ul class="ul1">
                <a href="Learn Csharb.html">
                    <li class="lihover">C# HOME</li>
                </a>

                <a href="Learn C-sharp of intro.html">
                    <li class="lihover">C# Intro</li>
                </a>

                <a href="Learn C-sharp of Get Started.html">
                    <li class="lihover">C# Get Started</li>
                </a>

                <a href="Learn C-sharp of Syntax.html">
                    <li class="lihover">C# Syntax</li>
                </a>

                <a href="Learn C-sharp of Output.html">
                    <li class="lihover">C# Output</li>
                </a>

                <a href="Learn C-sharp of Comments.html">
                    <li class="lihover">C# comments</li>
                </a>

            </ul>





            <ul class="ul2">
                <a href="#">
                    <li>C# Variables</li>
                </a>

                <div class="variables">
                    <a href="Learn C-sharp of Variables.html">
                        <li class="lihover">Variables</li>
                    </a>
                    <a href="Learn C-sharp of Constants.html">
                        <li class="lihover">Constants</li>
                    </a>
                    <a href="Learn C-sharp of Display.html">
                        <li class="lihover">Display Variables</li>
                    </a>
                    <a href="Learn C-sharp of intro Multiple.html">
                        <li class="lihover">Multiple Variables</li>
                    </a>
                    <a href="Learn C-sharp of Identifiers.html">
                        <li class="lihover">identifiers</li>
                    </a>
                </div>
            </ul>





            <ul class="ul3">
                <a href="Learn C-sharp of DataTypes.html">
                    <li class="lihover">C# Data Types</li>
                </a>

                <a href="Learn C-sharp of TypeCasting.html">
                    <li class="lihover">C# Type Casting</li>
                </a>

                <a href="Learn C-sharp of UserInput.html">
                    <li class="lihover">C# User Input</li>
                </a>
            </ul>





            <ul class="ul4">
                <a href="#">
                    <li class="Operators1">C# Operators</li>
                </a>

                <div class="Operators">
                    <a href="Learn C-sharp of Arithmetic.html">
                        <li>Arithmetic</li>
                    </a>
                    <a href="Learn C-sharp of Assignment.html">
                        <li>Assignment</li>
                    </a>
                    <a href="Learn C-sharp of Comparison.html">
                        <li>comparison</li>
                    </a>
                    <a href="Learn C-sharp of Logical.html">
                        <li>Logical</li>
                    </a>
                </div>
            </ul>





            <ul class="ul5">
                <a href="Learn C-sharp of Math.html">
                    <li>C# Math</li>
                </a>
            </ul>





            <ul class="ul6">
                <a href="#">
                    <li>C# Strings</li>
                </a>

                <div class="Strings">
                    <a href="Learn C-sharp of Strings.html">
                        <li li class="lihover">Strings</li>
                    </a>
                    <a href="Learn C-sharp of Concatenation.html">
                        <li class="lihover">Concatenation</li>
                    </a>
                    <a href="Learn C-sharp of Interpolation.html">
                        <li class="lihover">interpolation</li>
                    </a>
                    <a href="Learn C-sharp of AccessStrings.html">
                        <li class="lihover">Access Strings</li>
                    </a>
                    <a href="Learn C-sharp of SpecialCharacters.html">
                        <li class="lihover">special characters</li>
                    </a>
                </div>
            </ul>





            <ul class="ul7">
                <a href="Learn C-sharp of Booleans.html">
                    <li>C# Booleans</li>
                </a>
            </ul>





            <ul class="ul8">
                <a href="#">
                    <li>C# If...Else</li>
                </a>

                <div class="If">
                    <a href="Learn C-sharp of IF.html">
                        <li class="lihover">if</li>
                    </a>
                    <a href="Learn C-sharp of Else.html">
                        <li class="lihover">Else</li>
                    </a>
                    <a href="Learn C-sharp of ElseIf.html">
                        <li class="lihover">Else if</li>
                    </a>
                    <a href="Learn C-sharp of ShortHandIfElse.html">
                        <li class="lihover">short hand if..else</li>
                    </a>
                </div>
            </ul>





            <ul class="ul9">
                <a href="Learn C-sharp of Switch.html">
                    <li>C# Switch</li>
                </a>

                <a href="Learn C-sharp of WhileLoop.html">
                    <li>C# While LooP</li>
                </a>
            </ul>





            <ul class="ul10">
                <a href="#">
                    <li>C# For LooP</li>
                </a>

                <div class="for">
                    <a href="Learn C-sharp of ForLoop.html">
                        <li class="lihover">for LooP</li>
                    </a>
                    <a href="Learn C-sharp of ForeachLoop.html">
                        <li class="lihover">Foreach LooP</li>
                    </a>
                </div>
            </ul>





            <ul class="ul11">
                <a href="Learn C-sharp of BreakAndContinue.html">
                    <li>C# Break/Continue</li>
                </a>
            </ul>





            <ul class="ul12">
                <a href="#">
                    <li>C# Arrays</li>
                </a>

                <div class="Arrays">
                    <a href="Learn C-sharp of Arrays.html">
                        <li>Arrays</li>
                    </a>
                    <a href="Learn C-sharp of LoopThroughAnArray.html">
                        <li>LooP through an array</li>
                    </a>
                    <a href="Learn C-sharp of SortArrays.html">
                        <li>sort Arrays</li>
                    </a>
                    <a href="Learn C-sharp of MultidimensionalArrays.html">
                        <li>Multidimensional Arrays</li>
                    </a>
                </div>
            </ul>
        </div>











        <div class="content3">
            <h1>C# Methods</h1>

            <ul class="ul1">
                <a href="Learn C-sharp of Methods.html">
                    <li>C# Methods</li>
                </a>
            </ul>





            <ul class="ul2">
                <a href="#">
                    <li>C# Methods</li>
                </a>

                <div class="Methods">
                    <a href="Learn C-sharp of MethodParameters.html">
                        <li>parameters</li>
                    </a>

                    <a href="Learn C-sharp of DefaultParameter.html">
                        <li>default parameter</li>
                    </a>

                    <a href="Learn C-sharp of ReturnValue.html">
                        <li>return values</li>
                    </a>

                    <a href="Learn C-sharp of NamedArguments.html">
                        <li>named arguments</li>
                    </a>
                </div>
            </ul>





            <ul class="ul3">
                <a href="Learn C-sharp of MethodOverloading.html">
                    <li class="liColor">C# Method overloading</li>
                </a>
            </ul>
        </div>










        <div class="content2">
            <h1>C# Classes</h1>





            <ul class="ul1">
                <a href="Learn C-sharp of OOP.html">
                    <li>C# OOP</li>
                </a>
            </ul>





            <ul class="ul2">
                <a href="#">
                    <li>C# classes/objects</li>
                </a>

                <div class="CalANobj">
                    <a href="Learn C-sharp of ClassesAndObjects.html">
                        <li>classes and objects</li>
                    </a>

                    <a href="Learn C-sharp of MultipleObjects.html">
                        <li>Multiple objects</li>
                    </a>
                </div>
            </ul>





            <ul class="ul3" style="line-height: 30px;">
                <a href="Learn C-sharp of ClassesMembers.html">
                    <li>C# class members</li>
                </a>

                <a href="Learn C-sharp of Constructors.html">
                    <li>C# constructors</li>
                </a>

                <a href="Learn C-sharp of AccessModifiers.html">
                    <li>C# access modifiers</li>
                </a>

                <a href="Learn C-sharp of Properties.html">
                    <li>C# properties</li>
                </a>

                <a href="Learn C-sharp of Inheritance.html">
                    <li>C# inheritance</li>
                </a>

                <a href="Learn C-sharp of Polymorphism.html">
                    <li>C# polymorphism</li>
                </a>

                <a href="Learn C-sharp of Abstraction.html">
                    <li>C# abstraction</li>
                </a>
            </ul>





            <ul class="ul4">
                <a href="#">
                    <li>C# interface</li>
                </a>

                <div class="interface">
                    <a href="Learn C-sharp of Interface.html">
                        <li>interface</li>
                    </a>

                    <a href="Learn C-sharp of MultipleInterfaces.html">
                        <li>Multiple interface</li>
                    </a>
                </div>
            </ul>

            <ul class="ul5">
                <a href="Learn C-sharp of Enums.html">
                    <li>C# enums</li>
                </a>

                <a href="Learn C-sharp of Files.html">
                    <li>C# Files</li>
                </a>

                <a href="Learn C-sharp of Exceptions.html">
                    <li>C# Exceptions</li>
                </a>
            </ul>
        </div>










        <div class="content4">
            <h1>C# how to</h1>

            <ul class="ul1">
                <a href="Learn C-sharp of AddTwoNumbers.html">
                    <li>add tow numbers</li>
                </a>
            </ul>
        </div>










        <div class="content5">
            <h1>C# examples</h1>

            <ul class="ul1">
                <a href="Learn C-sharp of Examples.html">
                    <li>C# examples</li>
                </a>

                <a href="Learn C-sharp of Compiler.html">
                    <li>C# compiler</li>
                </a>

                <a href="Learn C-sharp of Exercises.html">
                    <li>C# exercises</li>
                </a>

                <a href="Learn C-sharp of Quiz.html">
                    <li>C# quiz</li>
                </a>

                <a href="Learn C-sharp of Server.html">
                    <li>C# server</li>
                </a>

                <a href="Learn C-sharp of Syllabus.html">
                    <li>C# syllabus</li>
                </a>

                <a href="Learn C-sharp of StudyPlan.html">
                    <li>C# study plan</li>
                </a>

                <a href="Learn C-sharp of Certificate.html">
                    <li>C# certificate</li>
                </a>
            </ul>
        </div>
    </div>




















    <div class="contentBody">






        <h1 class="h1TypeCasting">C# Method Overloading</h1>






        <div class="link1">
            <a href="Learn C-sharp of NamedArguments.html"><button class="btn1">
                    < previous </button></a>

            <a href="Learn C-sharp of OOP.html"><button class="btn2">next ></button></a>
        </div>





        <hr style="margin-top: 30px; margin-left: 45px;">






        <h1 class="h1">Method Overloading</h1>

        <p class="p1">
            With <span style="font-weight: bold;">method overloading</span>, multiple methods can have the same name
            with different parameters:
        </p>


        <div class="examplesCCode">
            <h1 class="H1">Example</h1>


            <div class="WRiteCode"
                style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-size: 21px;">

                <span style="color: rgb(255, 106, 0);">int</span> <span style="color: #008cff;">MyMethod</span><span
                    style="color: greenyellow;">( <span style="color: orange;">int</span> <span
                        style="color: white;">x</span> )</span>

                <br>

                <span style="color: rgb(255, 106, 0);">float</span> <span style="color: #008cff;">MyMethod</span><span
                    style="color: greenyellow;">( <span style="color: orange;">float</span> <span
                        style="color: white;">x</span> )</span>

                <br>

                <span style="color: rgb(255, 106, 0);">double</span> <span style="color: #008cff;">MyMethod</span><span
                    style="color: greenyellow;">( <span style="color: orange;">double</span> <span
                        style="color: white;">x</span> , <span style="color: orange;">double</span> <span
                        style="color: white;">y</span> )</span>
            </div>

        </div>

        <p class="p2">
            Consider the following example, which have two methods that add numbers of different type:
        </p>

        <div class="examplesCCode">
            <h1 class="H1">Example</h1>


            <div class="WRiteCode"
                style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-size: 21px;">

                <span style="color: rgb(255, 106, 0);">static int</span> <span
                    style="color: #008cff;">PlusMethodInt</span><span style="color: greenyellow;">( <span
                        style="color: orange;">int</span> <span style="color: white;">x</span>, <span
                        style="color: orange;">int</span> <span style="color: white;">y</span> )</span>

                <br>

                <span style="color: greenyellow;">
                    {
                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">return</span> <span style="color: white;">x +
                        y</span>;

                    <br>
                    }
                </span>

                <br>
                <br>

                <span style="color: rgb(255, 106, 0);">static double</span> <span
                    style="color: #008cff;">PlusMethodDouble</span><span style="color: greenyellow;">( <span
                        style="color: orange;">double</span> <span style="color: white;">x</span>, <span
                        style="color: orange;">doub</span> <span style="color: white;">y</span> )</span>

                <br>

                <span style="color: greenyellow;">
                    {
                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">return</span> <span style="color: white;">x +
                        y</span>;

                    <br>
                    }
                </span>

                <br>
                <br>

                <span style="color: rgb(255, 106, 0);">static void</span> <span style="color: #008cff;">Main</span><span
                    style="color: greenyellow;">(<span style="color: orange;">string</span>[ ] <span
                        style="color: white;">args</span>)</span>

                <br>

                <span style="color: greenyellow;">
                    {
                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">int</span> <span style="color: white;">myNum1 =
                    </span> <span style="color: #008cff;">PlusMethodInt</span>( <span style="color: orange;">8 <span
                            style="color: white;">,</span> 5</span> );

                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">double</span> <span style="color: white;">myNum2 =
                    </span> <span style="color: #008cff;">PlusMethodDouble</span>( <span style="color: orange;">4.3
                        <span style="color: white;">,</span> 6.26</span> );

                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: white;">Console</span><span
                        style="color: greenyellow;">.</span><span style="color: #008cff;">WriteLine</span>( "Int: "
                    <span style="color: white;">+ myNum1</span> );

                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: white;">Console</span><span
                        style="color: greenyellow;">.</span><span style="color: #008cff;">WriteLine</span>( "Double: "
                    <span style="color: white;">+ myNum2</span> );

                    <br>
                    }
                </span>

            </div>

        </div>

        <p class="p3">
            Instead of defining two methods that should do the same thing, it is better to overload one.
        </p>

        <p class="p4">
            In the example below, we overload the <span style="color: orange;">PlusMethod</span> method to work for both
            <span style="color: orange;">int</span> and <span style="color: orange;">double</span>:
        </p>

        <div class="examplesCCode">
            <h1 class="H1">Example</h1>


            <div class="WRiteCode"
                style="color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-size: 21px;">

                <span style="color: rgb(255, 106, 0);">static int</span> <span
                    style="color: #008cff;">PlusMethod</span><span style="color: greenyellow;">( <span
                        style="color: orange;">int</span> <span style="color: white;">x</span>, <span
                        style="color: orange;">int</span> <span style="color: white;">y</span> )</span>

                <br>

                <span style="color: greenyellow;">
                    {
                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">return</span> <span style="color: white;">x +
                        y</span>;

                    <br>
                    }
                </span>

                <br>
                <br>

                <span style="color: rgb(255, 106, 0);">static double</span> <span
                    style="color: #008cff;">PlusMethod</span><span style="color: greenyellow;">( <span
                        style="color: orange;">double</span> <span style="color: white;">x</span>, <span
                        style="color: orange;">doub</span> <span style="color: white;">y</span> )</span>

                <br>

                <span style="color: greenyellow;">
                    {
                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">return</span> <span style="color: white;">x +
                        y</span>;

                    <br>
                    }
                </span>

                <br>
                <br>

                <span style="color: rgb(255, 106, 0);">static void</span> <span style="color: #008cff;">Main</span><span
                    style="color: greenyellow;">(<span style="color: orange;">string</span>[ ] <span
                        style="color: white;">args</span>)</span>

                <br>

                <span style="color: greenyellow;">
                    {
                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">int</span> <span style="color: white;">myNum1 =
                    </span> <span style="color: #008cff;">PlusMethod</span>( <span style="color: orange;">8 <span
                            style="color: white;">,</span> 5</span> );

                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: orange;">double</span> <span style="color: white;">myNum2 =
                    </span> <span style="color: #008cff;">PlusMethod</span>( <span style="color: orange;">4.3 <span
                            style="color: white;">,</span> 6.26</span> );

                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: white;">Console</span><span
                        style="color: greenyellow;">.</span><span style="color: #008cff;">WriteLine</span>( "Int: "
                    <span style="color: white;">+ myNum1</span> );

                    <br>

                    &nbsp; &nbsp; &nbsp;<span style="color: white;">Console</span><span
                        style="color: greenyellow;">.</span><span style="color: #008cff;">WriteLine</span>( "Double: "
                    <span style="color: white;">+ myNum2</span> );

                    <br>
                    }
                </span>

            </div>

        </div>

        <p class="P2">
            <span style="font-weight: bold;">Note:</span> Multiple methods can have the same name as long as the number
            and/or type of parameters are different.
        </p>







        <hr style="margin-top: 30px; margin-left: 45px;">









        <div class="ExampleExercisesC">
            <h1>exercise?</h1>


            <p style="margin-top: 25px;">
                True or False:

                <br>

                With method overloading, multiple methods can have the same name with

                <br>

                different parameters.
            </p>


            <a href="#" target="_blank"><button>submit answer >></button></a>
        </div>
    </div>







    <hr style="margin: 50px 0px; margin-bottom: 250px;">









    <footer style="position: absolute;">





        <main>Taalem.com</main>


        <div class="Tutorials">

            <div class="LinkS" style="width: 50%; float: left;">
                <h1 style="margin-bottom: 45px;">top tutorials</h1>

                <a href="Learn Csharb.html" class="C">C# Tutorial</a>
                <br>
                <a href="#" class="DS">Data Structure Tutorial</a>
                <br>
                <a href="#" class="Alogo">Algorithm Tutorial</a>
                <br>
                <a href="#" class="proSolv">Problem Solving Tutorial</a>
                <br>
                <a href="#" class="html">HTML Tutorial</a>
                <br>
                <a href="#" class="css">CSS Tutorial</a>
                <br>
                <a href="#" class="JS">JavaScript Tutorial</a>
                <br>
                <a href="#" class="Angular">Angular16 Tutorial</a>
            </div>



            <div class="Examples" style="margin-top: 100px;margin-bottom: 100px">

                <div class="LinkS">
                    <h1 style="margin-bottom: 45px;">top examples</h1>

                    <a href="Learn C-sharp of Examples.html" class="C">C# Examples</a>
                    <br>
                    <a href="#" class="DS">Data Structure Examples</a>
                    <br>
                    <a href="#" class="Alogo">Algorithm Examples</a>
                    <br>
                    <a href="#" class="proSolv">Problem Solving Examples</a>
                    <br>
                    <a href="#" class="html">HTML Examples</a>
                    <br>
                    <a href="#" class="css">CSS Examples</a>
                    <br>
                    <a href="#" class="JS">JavaScript Examples</a>
                    <br>
                    <a href="#" class="Angular">Angular16 Examples</a>
                </div>
            </div>
        </div>



        <div class="Links">
            <a href="https://www.facebook.com/?locale=ar_AR" class="Facebook"><i class='bx bxl-facebook-square'
                    style="color: rgb(0, 136, 255);"></i></i></a>
            <a href="https://www.tiktok.com/foryou" class="TikTok"><i class='bx bxl-tiktok' style='color:wheat'></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class='bx bxl-instagram-alt'
                    style='color:rgba(255,0,105,0.79)'></i></a>
            <a href="https://web.whatsapp.com/" class="WhatSapp"><i class='bx bxl-whatsapp-square'
                    style='color:#0bf164'></i></a>
        </div>


        <p><mark>Taalem</mark> is optimized for learning and training. Examples might be simplified to improve reading
            and learning. Tutorials, examples are constantly reviewed to avid errors, but we cannot warrant full
            correctness of all content. While using <mark>taalam</mark>, you agree to have read and accepted our terms
            of use, cookie and privacy policy.</p>


        <i class='bx bxs-up-arrow-square' style='color:#ff00ee' id="start"></i>





    </footer>














    <SCript
        src="C:\Users\DELL\Desktop\Full Stack  Developer\Front_end\Project3 html , css , js\JavaScript\JSLearnCsharb.js"></SCript>
</body>