body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}





header{
    direction: rtl;
    margin-top: 10px;
    margin-right: 50px;
}

header img{
    width: 100px;
    height: 100px;
}

header span{
    color:rgb(174, 252, 252);
    position: absolute;
    margin-top: 30px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 2px;
}





.container{
    clear: both;
    text-align: center;
    margin-top: 100px;
}

.container form .clearRight{
    width: 43%;
    float: right;
}

.container form .clearRight h1{
    color: gold;
    font-family: sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 4px;
}

.container form .clearRight p{
    color: white;
    padding-top: 20px;
    padding-right: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 45px;
}





.container form .clearLeft{
    width: 50%;
    float: left;
    margin-top: 50px;
}

.container form .btntext{
    direction: rtl;
    width: 70%;
    height: 25px;
    background-color: black;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    padding: 25px;
    border: 1px solid rgb(255, 255, 255);
}







.container form a{
    margin-right: 42%;
}

.container form button{
    cursor: pointer;
    text-transform: capitalize;
    background-color: #1cb3f9;
    color: wheat;
    margin-top: 250px;
    margin-left: 90px;
    padding: 15px 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 35px;
}